body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.notes-logo{
  margin-left: 1em;
  font-size: 1.5rem;
}

.form-container{
  width: 55%;
  float: left;
}

.nav-wrapper{
  color: black !important;
  padding: 0 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.note-deadline{
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  text-align: start;
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.black-text{
  margin: 0px;
  font-size: 1.3rem;
}

.fav-container{
  padding: 1%;
  width: 60%;
  margin: auto;
  min-width: 280px;
}

.detail-container{
  padding: 1%;
  width: 50%;
  margin: auto;
  min-width: 280px;
}

.radio-input{
  font-size: 1.3rem;
  cursor: pointer;
  padding: 1em;
  color: black;
}

.hover-fav{
  padding: 0 1em;
  transition: .3s ease-in-out;
}

.hover-fav:hover{
  background-color: #80808099;
}

.notesList{
  margin-top: 1.5em;
  float: right;
  width: 45%;
  height: 60vh;
}

.pagination{
  float: right;
  width: 45%;
  text-align: center;
  display: flex;
    justify-content: center;
}

.content{
  padding: 2em;
}

.span-style{
  background: black;
  color: white;
  border-radius: .2em;
  padding: .1em;
  border: solid 1px white;
  margin-right: 1em;
}

.square{
  width: 30px;
  height: 30px;
  border: solid 1px;
  background: grey;
  border-radius: 100px;
}

.loading-element{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.square-one{
 animation: loading-one 2s ease-in infinite ;
}

.square-two{
  animation: loading-two 2s ease-in infinite ;
}

.square-three{
  animation: loading-three 2s ease-in infinite ;
}

@keyframes loading-one{
  0%{
    background-color: white;
  }
}

@keyframes loading-two{
  50%{
    background-color: white;
  }
}

@keyframes loading-three{
  100%{
    background-color: white;
  }
}

@media only screen and (max-width: 700px){

  .notesList{
    float: none;
    width: 100%;
  }

  .form-container{
    float: none;
    width: 100%;
  }
}